
*.pyc

config\.py

*.log

*.csv

cuda/

\.idea/

*.h5

elated-discovery-5100/m@m\.com/outputs/

elated-discovery-5100/m@m\.com/reports/

elated-discovery-5100/h@h\.com/outputs/

elated-discovery-5100/h@h\.com/reports/
